src/main/webapp/js/* linguist-vendored
Licenses linguist-vendored
UML/* linguist-vendored
db/* linguist-vendored
lib/* linguist-vendored
lp/data/* linguist-vendored
res/* linguist-vendored
zimpl/* linguist-vendored
