student.studentId=0
student.matrikelnumber=1
student.firstName=2
student.lastName=3
student.lectureId=4
student.lectureName=5
group.lectureId=7
group.lectureName=6
group.date=5
group.dateFormat=dd.MM.yyyy  HH:mm:ss
group.begin=4
group.beginFormat=HH:mm
group.end=3
group.endFormat=HH:mm
group.groupId=2
group.groupName=1
